{% extends "base.html" %}
{% block content %}
<form class="form-inline" action="{{url_for('outage_edit', outage_id=outage.id) }}" method=post>
    <select class="input-small" name="provider">
        {% for provider in providers %}
        <option> {{ provider }} </option>
        {% endfor %}
    </select>
    <label> Provider Ref
        <span class="input-medium uneditable-input">{{outage.provider_reference}}</span>
    </label>
    <label> # Affected
    <input class="input-mini" name="num_affected" type="text"
    value="{{outage.num_affected}}" />
    </label>
    <label> Begins
        <input class="input-medium" name="start_datetime" type="text"
        value="{{outage.start_time}}" />
        </input>
    </label>
    <label> Ends
        <input class="input-medium" name="end_datetime" type="text"
        value="{{outage.end_time}}" />
    </label>
    <label> Checked
        <input name="checked", type="checkbox" {% if outage.checked  %} checked {% endif %} />
    </label>
    <label> Flagged 
        <input name="flagged", type="checkbox" {% if outage.flagged  %} checked {% endif %} /> 
    </label>
    <label> Equipment Affected
        <textarea name="equipment">{{outage.equipment_list}}</textarea>
    </label>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"> Save Changes </button>
        <button type="reset" class="btn"> Reset </button>
    </div>
</form>
{% if dslusers %}
<h3> Affected Customers</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Phone Number</th>
            <th>User Name</th>
        </tr>
    </thead>
    <tbody>
        {% for user in dslusers %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.account_name }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.user_name }}</td>
        </tr>    
        {% endfor %}
    </tbody>
</table>
{% endif %}
<h3> Full Text </h3>
<pre>
{{outage.full_text}}
</pre>
{% endblock content %}
